<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="tud.mci.tangram.TangramLector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--Global config-->
    <add key="-DefaultCulture" value="en-US" />
    <add key="BlockedEXT" value="_ShowOff, BrailleDis, _HyperBrailleS, _ZZZ_PegasusAirPen, TofStamp, BlindPictionary, DebugSFP, _FhDraw, _Drawing_Script_Function_Proxy, Speach_SSFP" />
    <add key="DebugOutput" value="true"/> 
    <add key="DebugOutputDir" value ="C:\\test\\"/>
    <!--Tangram interface config-->
    <add key="FocusHighlightPause" value="5000" />    
    <add key="Tangram_MinimumShapeSize" value="100"/>
    <add key="Tangram_ShapeValidationInterval" value="7000"/>
    <!--Audio renderer config-->
    <add key="-StandardVoice" value="ScanSoft Steffi_Full_22kHz, ScanSoft Steffi_Dri40_16kHz" />
    <add key="Audio_Volume" value="80" />
    <add key="Audio_Speed" value="5" />
    <!--Logger config-->
    <add key="-DefaultLogPriority" value="debug" />
    <!--ShowOff Adapter config-->
    <add key="ShowOff_ShowScreenshotMenu" value="true" />
    <!--TofSTamp SSFP configuration-->
    <add key="TOF_Stamp_Threshold" value="5"/>
    <add key="TOF_Stamp_Calib_MarkerSerachMargin" value="10"/>
    <add key="TOF_Stamp_Calib_MarkerTolerance" value="5"/>
    <add key="TOF_Stamp_MarkerStepSize" value="2"/>
    <add key="TOF_Stamp_MarkerGlyphSize" value ="5"/>
    <add key="TOF_Stamp_MarkerMinConfidenceLevel" value="0.35"/>
    <add key="TOF_Stamp_MarkerMinimumBrightnessDifference" value="16"/>
    <add key="TOF_Stamp_MarkerResizeDim" value="50"/>
    <add key="TOF_Stamp_StorePath" value="C:\test\Glyphs"/>
    <add key="TOF_Stamp_BlobMaxSize" value="300"/>
    <add key="TOF_Stamp_BlobMinSize" value="10"/>
    <add key="TOF_Stamp_ThresholdFilterTh" value="70"/>
    <!--FhDraw SSFP configuration-->
    <add key ="FreehandDrawingSSFP_Tolerance" value="200000"/>
    <add key="AirPen_TouchFrequency" value="40"/>
    <add key="AirPen_TouchResetInterval" value="100"/>
    <add key="AirPen_ReleaseButtonThreshold" value="300"/>
    <add key="AirPen_LiftPenThreshold" value="50"/>
    <add key="FreehandDrawingSSFP_S2F_ratio" value="150.0"/>
    <add key="FreehandDrawingSSFP_ToleranceStep" value="1.5"/>
    <add key="FreehandDrawingSSFP_ShowOffDrawing" value="True"/>
    

    <!--GestureDraw SSFP configuration-->
    <add key="DbgGstRgnzr_Debug" value="true"/>
    <add key="DbgGstRgnzr_DebugOutputDir" value=""/>
    <add key="GesturalDrawing_Active" value="false"/>
    <!--DrawingSFP SSFP configuration-->
    <add key="DrawingSFP_BBoxpercentage" value="0.5"/>
    <add key="DrawingSFP_MinBBoxSize" value="5"/>
    <!--DrawingDebugSFP configuration-->
    <add key="DrawingDebugSFP_StorePath" value="C:\test\Tempfiles"/>
    <add key="DrawingDebugSFP_TempFilePrepend" value="tmp_"/>
    <add key="DrawingDebugSFP_StoreTempFiles" value="True"/>
    <add key="DrawingDebugSFP_TempFileStoreInterval" value="20000"/>
    <add key="DrawingDebugSFP_LogTouchData" value="False"/>
    <add key="DrawingDebugSFP_Active" value="True"/>
    <add key="DrawingDebugSFP_AutoSave" value="True"/>
    <add key="DrawingSFP_LabelPadding" value="500 500 300"/>
    <add key="DrawingSFP_ConnectorType" value="LINES"/>
    <add key="DebugOutput" value="True"/>
    <add key="DebugOutputDir" value="C:\test\"/>
   
    




  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <tud.mci.tangram.TangramLector.Properties.Settings>
      <setting name="sound_volume" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="sound_speed" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="sound_voice" serializeAs="String">
        <value />
      </setting>
    </tud.mci.tangram.TangramLector.Properties.Settings>
  </userSettings>
</configuration>
<!--<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>-->